html, body, *{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color:white;
}

nav {
    width: 100%;
    background-color: orangered;
    padding: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
}

nav span {
    background: transparent;
    font-size: 12px;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.container2 {
    min-width: min(500px, 100%);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:10px;
}

.to {
    display: flex;
    align-items: center;
    justify-content: center;
}
.start, .end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    width:100%;
}

input, select {
    padding: 10px;
    font-size: 16px;
    width:100%;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    width:100%;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

ul {
    list-style: decimal;
    list-style-position: inside;
    margin-bottom: 50px;
}

li {
    font-size: 15px;
    border-top: 1px solid grey;
    padding: 10px;
}

li::marker, li span {
    color: orangered;
}